.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;

    margin-right: 20px;

    a {
      text-decoration: none;
      color: black;
      padding-left: 2px;
      padding-right: 2px;
      opacity: 50%;
      transition: 0.2s;
      border-bottom: 3px solid transparent;
      &:hover {
        color: black;
        border-bottom: 3px solid $gold;
      }
    }

    .nav-link-active {
      font-weight: bold;
      opacity: 100%;
    }
  }

  .logout-icon {
    margin-left: 10px;
    cursor: pointer;
    color: $gold;
    transition: 0.2s;
    &:hover {
      color: $dark-gold;
    }
  }
}
